# =========================
# MkDocs
# =========================
site/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log
